{% load static %} 
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'apple-icon-180x180.png' %}">
    
    <title>ITS</title>

    <!-- OG Meta Tag 설정 -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.xn--py2bl5k6yfu6hbpd.com/">
    <meta property="og:title" content="MVTI">
    <meta property="og:image" content="{% static 'mvti_black2.png' %}">
    <meta property="og:description" content="MVTI는 사용자 성격 정보를 이용한 캐릭터 추천 서비스입니다.">
    <meta property="og:site_name" content="MVTI">
    <meta property="og:locale" content="en_US">
    
    <!-- 부트스트랩 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/eb52efc223.js" crossorigin="anonymous"></script>
    
    <!-- jquery -->
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/2.2.0/jquery.waitforimages.min.js"></script> 

    <!-- sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Custom -->
    <script src="{% static 'js/footer.js' %}" ></script>
    <script src="{% static 'js/movie.js' %}"></script>
    <script src="{% static 'js/result.js' %}"></script>
    
    
    <!-- Infinite Scroll -->
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <link rel="stylesheet" href="{% static 'css/result_bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/netflix.css' %}" />
    <link rel="stylesheet" href="{% static 'css/result_movie.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- arcodian carousel -->
    <link rel="stylesheet" href="{% static 'css/accordion-slider.css' %}" />
    
    <!-- kakaotalk share -->
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
      integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
    <script>
      //kakaotalk share
      Kakao.init('a6933f999071cb7128cff80358c1ce88'); // 사용하려는 앱의 JavaScript 키 입력
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1350QFW977"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1350QFW977');
    </script>

  </head>
  <body>
    {% include "test_rec/loading.html" %}
    {% include "navbar.html" %}
    <div class="contents_container">
    {% block contents %} 
    {% endblock %}
    </div>
    
    
    
    
    <script>
      // kakaotalk share
      var variable = document.getElementById('jsvariable'); // 임시로 만든 변수를 담을 div
      tmpuser_id = variable.getAttribute('tmpuser_id'); // 임시로 만든 변수의 tmpuser_id 속성을 가져옴
                                                        // 따라서 body에는 <div id="jsvariable" tmpuser_id="{{tmpuser.id}}"></div> 이 코드가 있어야함.
      
      Kakao.Share.createDefaultButton({
        container: '#kakaotalk-sharing-btn',
        objectType: 'feed',
        content: {
          title: '인생캐릭터 테스트 결과',
          description: '#MBTI #인생캐릭터 #영화추천 #내 최애캐릭터',
          imageUrl:
            'https://user-images.githubusercontent.com/57648890/211701382-0014bb80-2371-4fae-b101-0e71a3462c67.png',
          link: {
            // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
            mobileWebUrl: 'https://www.인생캐릭터.com',
            webUrl: 'https://www.인생캐릭터.com',
          },
        },
        social: {
          likeCount: 286,
          commentCount: 45,
          sharedCount: 845,
        },
        buttons: [
          {
            title: '웹으로 보기',
            link: {
              mobileWebUrl: 'https://www.인생캐릭터.com/common/share_tmpuser/'+tmpuser_id,
              webUrl: 'https://www.인생캐릭터.com/common/share_tmpuser/'+tmpuser_id,
            },
          },
        ],
      });
    </script>

  </body>
</html>
