{% load static %} 
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Recsys 8</title>
    
    {% comment %} 부트스트랩 {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    
    {% comment %} 폰트어썸 {% endcomment %}
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    
    {% comment %} jquery {% endcomment %}
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>

    {% comment %} sweetalert {% endcomment %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% comment %} Spinner {% endcomment %}
    <script src="{% static 'js/spinner.js' %}"></script>
    
    {% comment %} Custom {% endcomment %}
    <script src="{% static 'js/footer.js' %}" ></script>
    <script src="{% static 'js/movie.js' %}"></script>
    
    {% comment %} Infinite Scroll {% endcomment %}
    <script src="{% static 'js/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <link rel="stylesheet" href="{% static 'css/result_bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/netflix.css' %}" />
    
  </head>
  <body>
    {% comment %} {% include 'navbar.html' %} {% endcomment %}
    {% include "test_rec/loading.html" %}
    {% include "test_rec/nav.html" %}
    <div class="contents_container">
      <div class="wrap"> 
        {% block contents %} 
        {% endblock %}
      </div>
    </div>
    
    {% include "test_rec/footer.html" %}
  </body>
</html>
