{% extends 'test_rec/base.html' %}
{% load static %} 
{% block contents %}
<div class="progressbar">
  <a class="progressbar_left" href="/test_rec/enneagram_test2/">
    <i class="fa-solid fa-chevron-left" id="left" onclick="history.back()"></i>
  </a>
  <div class="progress_container">
    <span class="test_progress_bar">60%</span>
  </div>
</div>
<div class="wrap"> 

  <div class="left_header">
    <h1 class="test_question">Q4.</h1>
    <h3 class="test_question_subtitle">어느쪽에 더 가까운 것 같나요?</h3>
  </div>
  <div class="contents">
    <form
      class="quiz_form"
      novalidate
      method="get"
      action="{% url 'test_rec:movie_test' %}"
    >
      <div class="engram_box_3">
        {% for question in add_quest_list %}
        <button
          class="button engram_button"
          value="{{question.three_letter}}"
          name="enneagram3"
          type="submit"
        >
          {{question.question}}
        </button>
        {% endfor %}
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function(){
    console.log('document ready!')
    $('.progress_container').addClass('progress3')
  })
</script>
{% endblock %}
