{% extends 'test_rec/base.html' %}
{% load static %} 
{% block contents %}
<div class="progressbar">
  <a class="progressbar_left" href="/test_rec/enneagram_test/">
    <i class="fa-solid fa-chevron-left" id="left" onclick="history.back()"></i>
  </a>
  <div class="progress_container">
    <span class="test_progress_bar">40%</span>
  </div>
</div>

<div class="wrap"> 

  <div class="left_header">
    <h1 class="test_question">Q3.</h1>
    <h3 class="test_question_subtitle">
      나에게 어떤 문제가 생겼다. 남들에 비해<span class="span_text"> 상대적으로 나는 어떤 편 </span>
      인가? 
      여기서의 문제는<span class="span_text"> 누구에게나 생길 수 있는 사소한(?) 문제 </span>이다.
    </h3>
    <h3 class="test_question_example">
      ex) 친구와 다투거나, 주식이 떨어지거나, 시험을 못보거나, 밤에 잘 때 아기가
      울어서 깬 경우
    </h3>
  </div>
  <div class="contents">
    <form
      class="quiz_form"
      novalidate
      method="get"
      action="{% url 'test_rec:enneagram_test3' %}"
    >
      <div class="engram_box">
        <button
          class="button engram_button"
          value="A"
          name="enneagram2"
          type="submit"
        >
          잘 되겠지 뭐..
        </button>
        <button
          class="button engram_button"
          value="B"
          name="enneagram2"
          type="submit"
        >
          해결할 방법을 생각해보자.
        </button>
        <button
          class="button engram_button"
          value="C"
          name="enneagram2"
          type="submit"
        >
          어휴~ 속상해..(짜증나 등등)
        </button>
        
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function(){
    console.log('document ready!')
    $('.progress_container').addClass('progress2')
  })
  window.addEventListener('popstate', function (event) {
//Your code here
  console.log("back!");
});
</script>
{% endblock %}
