<div class="left_header">
  <h1 class="test_question">Q1.</h1>
  <h3 class="test_question_subtitle">당신의 MBTI는?</h3>
</div>

<h1 class="test_question">Q2.</h1>
<h3 class="test_question_subtitle">
  처음보는 사람들이 20명 이상 모여있는 방에 들어가려고 한다. 이때의 나는?
</h3>
<h3 class="test_question_example">ex) 학교 교실, 예비군훈련</h3>

<h1 class="test_question">Q3.</h1>
<h3 class="test_question_subtitle">
  나에게 어떤 문제가 생겼다. 남들에 비해
  <span class="span_text"> 상대적으로 나는 어떤 편 </span>
  인가? 여기서의 문제는
  <span class="span_text"> 누구에게나 생길 수 있는 사소한(?) 문제 </span>
  이다.
</h3>
<h3 class="test_question_example">
  ex) 친구와 다투거나, 주식이 떨어지거나, 시험을 못보거나, 밤에 잘 때 아기가
  울어서 깬 경우
</h3>

<h1 class="test_question">Q4.</h1>
<h3 class="test_question_subtitle">어느쪽에 더 가까운 것 같나요?</h3>
