{% extends 'test_rec/base.html' %}
{% load static %} 
{% block contents %}

<h1 class="test_question">Q5.</h1>
<h3 class="test_question_subtitle">선호하는 영화를 골라주세요!</h3>

<form
  class="movie_box"
  method="post"
  action="{% url 'test_rec:result_page' %}"
  data-movies="{{ length }}"
>
  <div class="movie_box2">
    {% for movie in movies %}
    <input type="checkbox" value="{{ movie }}" name="movies" id="{{ movie }}" />
    <label
      for="{{ movie }}"
      style="background-image: url('/static/img/{{movie}}'); background-size:cover;"
    >
    </label>

    {% endfor %}
  </div>
  {% comment %} {% include "test_rec/loading.html" %} {% endcomment %}
  
  <div class="center_button">
    <input
      class="button mbti_button grid_button"
      type="submit"
      value="다 선택했어요"
      onclick="submitForm(event)"
    />
  </div>
</form>
<script>
  async function submitForm(event){
    event.preventDefault();
    await loading();
    document.querySelector('.movie_box').submit()
  }
</script>
{% endblock %}
