{% extends 'test_rec/base.html' %}
{% load static %} 
{% load split_movieId_title %}
{% block contents %}
<div class="progressbar">
  <a class="progressbar_left" href="/test_rec/enneagram_test3/">
    <i class="fa-solid fa-chevron-left" id="left" onclick="history.back()"></i>
  </a>
  <div class="progress_container">
    <span class="test_progress_bar">80%</span>
  </div>
</div>

<div class="wrap"> 

  <div class="left_header">
    <h1 class="test_question">Q5.</h1>
    <h3 class="test_question_subtitle">좋아하는 영화를 3개이상 골라주세요!</h3>  
    <h3 class="test_question_example">
      ❗선택한 영화 개수가 많을수록<br>&nbsp;&nbsp;&nbsp;&nbsp;추천 정확도가 올라갑니다.

    </h3>
  </div>
  <div class="contents" id="movie_contents">

    <form
      class="movie_box"
      method="get"
      action="{% url 'test_rec:result_page' %}"
    >
      <div class="movie_box2 infinite-container">
        {% for movie, ko_title in zip_page_obj %}
            <div class="infinite-item">
              <input type="checkbox" class="movie_card" value="{{ movie }}" name="movies" id="{{ movie }}"  required/>
              <label
                for="{{ movie }}"
                style="background-image: url('/static/img/{{movie}}'); background-size:cover;"
                data-bs-toggle="tooltip" data-bs-title="{{ ko_title }}"
              >
            </label>
            </div>
        {% endfor %}
        
      </div>
      <div class="pagination">
        {% if page_obj.has_next %}
          <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </div>
      
      <div class="center_button fixed_button">
        <input
          id="movie_btn"
          class="movie_button"
          type="submit"
          value="3개 선택해 주세요"
          onclick="check(event)"
        />
      </div>
    </form>
  </div>
</div>
  <script>
    $(document).ready(function(){
      $('.progress_container').addClass('progress4')
    })
    window.addEventListener('popstate', function (event) {
    //Your code here
      console.log("back!");
    });

    function movieClick(){
      let checkedMovies = $('input[type=checkbox][name=movies]:checked').length
      let leftChoice = 3 - checkedMovies
      
      $('#movie_btn').val(`${leftChoice}개 선택해주세요`)
      if(leftChoice <= 0){
        $('#movie_btn').val('완료되었습니다!')
        $('#movie_btn').css({
          'background-color' : '#e50914',
          'color':'#fef7f7'
        })
        $('.progress_container').addClass('progress5')
        $('.test_progress_bar').text('100%')
      }else{
        $('#movie_btn').css({
          'background-color' : '#e5e5e5',
          'color':'black'
        })
      }
    }
    const movieBox = $('.movie_box')
    movieBox.on('click', movieClick)

    const infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      offset: 'bottom-in-view',
      handler: function(direction){
        console.log('Scrolled!')
      },
      onBeforePageLoad: function(){
        newTooltipList.forEach(tooltip => {
        tooltip.dispose();
      });
    newTooltipList = [];
    },
      onAfterPageLoad: function(){
        const newTooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        newTooltipList = [...newTooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      }
    })
    
    let newTooltipList = [];
    const newTooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    newTooltipList = [...newTooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

  </script>
{% endblock %}