numpy==1.22.2
pandas==1.4.1
python-dateutil==2.8.2
pytz==2021.3
scipy==1.8.0
six==1.16.0
torch==1.10.2
tqdm==4.62.3
typing_extensions==4.1.1
recbole==1.1.1
ray==2.2.0
wandb==0.13.7
lightgbm==3.3.3
xgboost==1.7.2
IMDbPY==2022.7.9
fastapi
uvicorn==0.20.0
python-multipart==0.0.5
pynecone-io==0.1.12
django==4.1.5
tzdata
django-allauth==0.52.0
simplejson==3.18.1
django-bootstrap5==22.2
django-environ==0.9.0
sqlalchemy2-stubs==0.0.2a31
mysqlclient==1.4.6
annoy
apache-airflow==2.5.1
kubernetes==25.3.0
apache-airflow-providers-ssh==3.4.0
mlflow==2.1.1

