{% extends 'test_rec/base.html' %}
{% load static %} 
{% load split_movieId_title %}
{% block contents %}

<div class="wrap"> 

  <div class="left_header">
    <h1 class="test_question">{{ mbti }}</h1>
    <h3 class="test_question_subtitle">🔥 인기순위 🔥</h3>  
    <h3 class="test_question_example">
      ❗해당 MBTI의<br> 캐릭터 인기순위입니다.

    </h3>
  </div>
  <div class="contents" id="movie_contents">

    <form
      class="movie_box"
      method="post"
      action="{% url 'test_rec:result_page' %}"
    >
      <div class="movie_box2 infinite-container">
        {% for character in top_character %}
            <div class="infinite-item">
              <input type="button" class="movie_card" onclick="location.href='/test_rec/{{ character.CharacterId }}'" value="{{ character.Character }}" name="movies" id="{{ character.Character }}"/>
              <label
                for="{{ character.Character }}"
                style="background-image: url('{{character.img_src}}'); background-size:cover;"
                data-bs-toggle="tooltip" data-bs-title="{{ character.ko_title }}"
              >
            </label>
            </div>
        {% endfor %}
        
      </div>
      <div class="pagination">
        {% if page_obj.has_next %}
          <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </div>
      
    </form>

    <div class="characters_box">
      {% for item in character %}
      <div class="character">
        <div class="poster_box">
          <img src="{{ item.img_src }}" alt="character" class="character_image"/>
        </div>
        <div class="character_body_info">
          <div class="fullText">
            <div class="character_title">{{ item.char_name }}</div>
            <div class="character_info">MBTI: {{ item.MBTI }}</div>
            <div class="character_info_tag">{{ item.hashtag }}</div>
            <div class="like_box" charId="{{item.CharacterId}}" loginUser="{{login_user}}" like_cnt="{{like_cnt}}" liked="{{liked}}">
              <div class="like_button">
                <!-- 로그인했을때 -->
                {% if login_user %} 
                  <!-- 이미 좋아요함 -->
                  {% if liked %}
                    <i id="heart" class="fa-solid fa-heart"></i>
                  <!-- 좋아요 안함 -->
                  {% else %}
                    <i id="heart" class="fa-regular fa-heart"></i>
                  {% endif %}
                <!-- 로그인안했을때 -->
                {% else %}
                  <i id="heart" class="fa-solid fa-heart-circle-exclamation"></i> 
                {% endif %}
                <span class="like_cnt">{{ like_cnt }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
  <script>
    
    $('.like_box').click(function(){
      let characterId = $('.like_box').attr('charId')
      let loginUserId = $('.like_box').attr('loginUser')
      let liked = $('.like_box').attr('liked')
      let url = '/test_rec' + '/' + characterId + '/' + loginUserId
      console.log('liked', liked)
      
      if(loginUserId == 'None'){
        console.log('로그인 안함')
        $('.like_cnt').text('로그인 해주세요:)')
        $('.like_button').css({'width':'160px'})
       
        
      }else{
        console.log('로그인 한 유저:', loginUserId)

        if(liked == '1'){
          console.log('좋아요함')
          like(url);
        }else{
          console.log('아직 좋아요안함')
          like(url);
        }
        

      }
    })

    function like(url){
      $.ajax({
        type: 'POST',
        url: url,
        success: function (response) {
          console.log('좋아요 누름!')
          console.log(response)
        },
        error: function (error) {
          setTimeout(() => {
            $('.wrap').innerHTML = `failed to load the data`
          }, 5000)
        }
      }).done((response)=>{
        let like_cnt = response.like_cnt
        let liked = response.liked
        let heart = ''
        $('.like_cnt').text(like_cnt)
      
        if(liked == '1'){
          heart = '<i id="heart" class="fa-solid fa-heart"></i>'
        }else if (liked == '0'){
          heart = '<i id="heart" class="fa-regular fa-heart"></i>'
        }
        $('#heart').remove();
        $('.like_button').prepend(heart)
      })
    }

    const movieBox = $('.movie_box')
    movieBox.on('click', movieClick)

    const infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      offset: 'bottom-in-view',
      handler: function(direction){
        console.log('Scrolled!')
      },
      onBeforePageLoad: function(){},
      onAfterPageLoad: function(){
        const newTooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const newTooltipList = [...newTooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      }
    })
    
    const newTooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const newTooltipList = [...newTooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

  </script>
{% endblock %}