{% extends "base.html" %}
{% load static %} 
{% load socialaccount %}

{% block content %}
<div class="contents_container">
    <div class="login_container signup_container">
        <div class="login_header">
            <h4>회원가입</h4>
        </div>
        <div class="login_signup">
            <a class="login_signup_btn" href="{% url 'common:login' %}" >
                <div class="sigunup_link">
                    Login
                </div>
            </a>
            <div class="login_signup_btn on_process">Signup</div>
        </div>
        <form method="post" class="login_form" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="input_box">
                
                <input required placeholder="username" type="text" class="login_input" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="input_box">
                <input required placeholder="password" type="password" class="login_input" name="password1" id="password1" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <div class="input_box">
                <input required placeholder="password check" type="password" class="login_input" name="password2" id="password2" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <div class="input_box">
                <input required placeholder="email" type="text" class="login_input" name="email" id="email" value="{{ form.username.value|default_if_none:'' }}">
            </div>
        
            <div class="btn_box">
                <a class="login_btn google_btn" href="{% provider_login_url 'google' %}">
                    <div class="login_wrap">
                        <img src="{% static 'google_icon.png' %}" class="icon google_icon" />
                        <div class="white_login">구글로 회원가입</div>
                    </div>
                </a>
                {% comment %} <a class="login_btn naver_btn" href="{% provider_login_url 'naver' %}">
                    <div class="login_wrap">
                        <img src="{% static 'naver_icon.png' %}" class="icon" />
                        <div class="white_login">네이버로 회원가입</div>

                    </div>
                </a> {% endcomment %}
                <a class="login_btn kakao_btn" href="{% provider_login_url 'kakao' %}">
                <div class="login_wrap">
                    <img src="{% static 'kakao_icon.png' %}" class="icon" />
                    <div class="black_login">카카오로 회원가입</div>
                </div>
                </a>
                <button type="submit" class="login_btn login_submit">회원가입</div>
            </div>
        </form>
    </div>
</div>

{% endblock %}