{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Recsys 8</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user_reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user_test.css' %}" />
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user_result_bootstrap.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/netflix.css' %}" /> -->
    <style>
      table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;
        text-align: center;
      }
      th, td {
        border-bottom: 1px solid #444444;
        padding: 10px;
      }
      .character {
        display: initial;
      }

      .middle_chr {
        padding: 0 2vw;
      }

      @media (max-width: 1050px){
      .character_image {
      width: 20vw;}

      .wrap_table{
        padding: 0;}
      }

      @media (max-width: 1157px){
      .character_image {
      width: 20vw;}

      .wrap_table{
        padding: 0;}
      }
    </style>
    
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container character_container container_result">
      <div class="header header_result" style="width:100vw;">
        <img class="header_image" src={% static 'image.png' %} alt="film" />
      </div>
      <div class="contents result_contents contents_result" style="width:100vw">
        <div class="contents_box character_box" style="width:80vw">
          <div class="contents_header" style="margin-top:1.5vw; margin-bottom:1vw;">
            <h2 class="test_question" style="color:black; font-size: calc(1.325rem + .7vw);">🎬 내 프로필 😎</h2>
            <div class="container_header_bar"></div>
          </div>
          <div class="character" style="display:grid; grid-template-columns: 1fr 2fr; background-color: white; align-items: center">
            <img
              src="/static/img/18_four_rooms.png"
              alt="Responsive image"
              class="character_image"
              style="grid-column: 1 / 2; margin: auto;"
            />
            <div style="padding-right:2px">
              <div class="character_title" >{{ user_name }}님의 프로필</div>
              <div class="character_info" >내 MBTI: {{ mbti }}</div>
              <div class="character_info" >설문을 통한 내 성격:</div>
              <ul>
                <li>- 삶을 이해하는 것이 삶을 사는 것만큼이나 중요하다</li>
                <li>- 자신만의 아이디어(지식)가 있고 자신만의 통찰을 이야기할 수 있는 사람이 되고 싶다.</li>
                <li>- 독립성, 비밀스러움을 갖기 위해 은신처를 개발(타인이 모르거나 경험못한 일을 창조)한다.</li>
                <li>- 안전감과 자존심(스스로의 삶을 통제하고 있다는 느낌)을 갖기 위해 능력있는 사람(전문가)가 되려하고, 독립성(서로 간섭하지 않음)을 추구한다.</li>
                <li>- 강력한 집중력은 놀라운 발명과 발견이 되지만, 지나치면 실질 문제를 회피하게 되어 사고 과정의 복잡함 속에서 헤매다가 이상한 사람으로 취급되고 고립되기도 한다.</li>
              </ul>
            </div>
          </div>
          <div class="character">
            <div style="overflow: auto; padding:0 5.5vw;">
              <div class="character_title">{{ user_name }}님이 추천받은 캐릭터 리스트</div>
              <div class="scrollMenu">
                {% for character_image in character_images %}
                  <img src="{{ character_image }}" class="card_image" alt="character_img" style="height: auto; width: 15%;">
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="character">
            <div style="overflow: auto; padding:0 5.5vw;">
              <div class="character_title">{{ user_name }}님이 선호한 영화 리스트</div>
              <div class="scrollMenu">
                {% for movie in prefer_movie_posters %}
                  <img src="/static/img/{{ movie }}" style="height: auto; width: 15%;">
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="character" style="align-items:normal">
            <div style="overflow: auto; padding:0 5.5vw;">
              <div class="character_title">{{ user_name }}님의 Test 이력 리스트</div>
              <div class="wrap_table" style="padding:0 4vw; margin-top:15px">
                <table class="table table-hover">
                  <thead style="background-color:#d1a5a5b3">
                    <tr>
                      <th scope="col">Test no.</th>
                      <th scope="col">MBTI</th>
                      <th scope="col">Test 시각</th>
                      <th scope="col">삭제하기</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tmpuser in tmpusers %}
                    <tr>
                      <th scope="row">1</th>
                      <td>{{ tmpuser.MBTI }}</td>
                      <td>{{ tmpuser.create_time }}</td>
                      <td>
                        <a href="{% url 'common:delete_tmpuser' tmpuser.id %}">
                          <button class="favorite styled" type="button">삭제하기</button>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <button class="button back_button" onclick="history.back()">
            뒤로 가기
          </button>
        </div>
      </div>
    </div>
    {% include "test_rec/footer.html" %}
    <script>
      let characterBody = document.querySelector(".temp_box");
      let poster_box = document.querySelector(".poster_box");
      let resultContents = document.querySelector(".result_contents");
      let character = document.querySelector(".character");
      let characterBodyInfo = document.querySelector(".character_body_info");
      let linkBox = document.querySelector(".link_box");
      window.onload = () => {
        checkScreenSize();
      };
      window.onresize = () => {
        checkScreenSize();
      };
      checkScreenSize = () => {
        if (window.innerWidth <= 1158) {
          characterBody.appendChild(characterBodyInfo);
          characterBody.appendChild(linkBox);
          characterBody.class리스트.add("character_body");
          characterBody.style.display = "flex";
          characterBody.style.flexDirection = "column";
          characterBody.style.justifyContent = "space-around";
        } else {
          poster_box.appendChild(linkBox);
          character.appendChild(characterBodyInfo);
        }
      };

      // 링크 없으면 안보여주기
      let links = document
        .querySelector(".link_box")
        .getAttribute("data-links");
      console.log(
        "links",
        links.includes("no_link"),
        links.includes("no_result")
      );
      if (
        links.length === 0 ||
        links.includes("no_link") ||
        links.includes("no_result")
      ) {
        linkBox.style.display = "none";
        resultContents.style.display = "inherit";
      }
    </script>
    <script
      src="https://kit.fontawesome.com/eb52efc223.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
