{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="ko">
  <head>
    <link rel="canonical" href="https://getbootstrap.kr/docs/5.1/examples/blog/">
    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    <style>
      p {
        margin-bottom:0.5;
      }
      .block_title {
        margin-bottom:2;
      }
    </style>    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  </head>
  <body>
    <div class="banner1" style="display: flex">
      <div class="banner__content">
        <style>
          .banner__content {
            margin-left: auto;
            }
          </style>
        <div class="test_block">
          <style>
          .test_block {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            padding-left: 10px;
          }
          </style>
          <a href="{% url 'test_rec:start_test' %}" class="btn btn-outline-success" type="button">테스트 하러가기</a>
          <a href="{% url 'common:user_test_history' %}" class="btn btn-outline-success" type="button">테스트 결과보기</a>
          <a href="{% url 'common:user_profile' %}" class="btn btn-outline-success" type="button">내 정보보기</a>
        </div>
      </div>
    </div>
<main class="container">
  <div class="container">
    <div class="row mb-2">
    </div>
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2 class="block_title">인기있는 캐릭터 Top 10</h2>
      <form
          class="movie_box"
          method="POST"
          action="{% url 'test_rec:result_page' %}"
          data-movies="{{ length }}"
        >
          <div class="movie_box2">
            {% for character in characters %}
            <input
              type="checkbox"
              value="{{ character }}"
              name="movies"
              id="{{ character }}"
            />
            <label
              for="{{ character }}"
              style="background-image: url('static/img/{{character}}.png'); background-size:cover;"
            >
            </label>

            {% endfor %}
          </div>
        </form>
    </div>
    <div class="row mb-2">
    </div>
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2 class="block_title">나의 테스트 정보가 없습니다!</h2>
      <p>로그인이나 회원가입을 해주세요.</p>
      <a href="{% url 'common:login' %}" class="btn btn-outline-success" type="button">Log in</a>
      <a href="{% url 'common:signup' %}" class="btn btn-outline-success" type="button">Sign up</a>
    </div>
  </div>
</main>
  </body>
</html>
{% endblock %}