<div class="nav_container">
  <div class="nav_item_box">
    <a href="{% url 'index' %}" class="nav_logo" style="font-size: 40px; font-weight: bold;">MVTI</a>
    <div class="nav_logo_right" style="font-size: 18px;">ITS</div>
  </div>
  <div class="nav_item_box">
    <ul class="nav_item_right">
      <li class="nav_items">
        <a href="{% url 'test_rec:start_test' %}">테스트하러가기</a>
      </li>
      <li class="nav_items">
        {% if user.is_authenticated %}
          <a id="nav_profile" class="nav_link" href="{% url 'common:user_profile' %}">{{ user.username }}프로필</a>
          <a class="nav_link" href="{% url 'common:logout' %}">로그아웃</a>

        {% else %}
          <a class="nav_link" href="{% url 'common:login' %}">로그인</a>
        {% endif %}
      </li>
    </ul>
  </div>
  {% comment %} <form id="searchForm" method="get" action="http://0.0.0.0:8001/">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
  </form> {% endcomment %}
</div>
<div class="mobile_nav_item_box">
  <ul class="mobile_nav_item_right">
    <li class="mobile_nav_items">
      <a class="mobile_nav_link" href="{% url 'test_rec:start_test' %}">테스트하러가기</a>
    </li>
    <li class="mobile_nav_items">
      {% if user.is_authenticated %}
        <a id="nav_profile" class="mobile_nav_link" href="{% url 'common:user_profile' %}">{{ user.username }}프로필</a>
        <a class="mobile_nav_link" href="{% url 'common:logout' %}">로그아웃</a>

      {% else %}
        <a class="mobile_nav_link" href="{% url 'common:login' %}">로그인</a>
      {% endif %}
    </li>
  </ul>
</div>