/* 배너 */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
}

.banner_content {
  width: 75%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.banner_subtitle {
  font-size: 23px;
  text-align: center;
  padding: 0 27px;
}

.banner_testlink {
  border-radius: 1rem;
  background-color: aliceblue;
  margin-top: 50px;
}

.testlink_box {
  color: black;
  font-size: 20px;
  padding: 20px;
}

.banner_testlink:hover {
  background-color: #cd0404;
}

.banner_testlink:hover .testlink_box {
  color: white;
}

/* mbti */
.index_contents {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: fit-content;
}

.index_contents_box {
  width: 80%;
  display: flex;
  justify-content: center;
}

.mbti_nav_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.mbti_section {
  color: #666;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 16px;
  width: 260px;
  height: 510px;
  margin-right: 30px;
}

.mbti_section_title {
  font-size: 25px;
  text-align: center;
}

.nav-button {
  background-color: #262626;
  width: 100px;
  height: 50px;
  padding: 11px 30px;
  color: #BFBFBF;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* character */
.character_section {
  width: 77%;
}

.block_title {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 13px;
  font-size: 28px;
}

.tooltip_box {
  display: flex;
  justify-content: center;
}

.main_box {
  /* border: 1px solid #3C4048; */
  /* width: 100%; */
  box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 30%);
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 25px;
  padding: 20px;
}

.inner_block {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  padding: 10px;
  overflow-x: scroll;
  overflow-y:hidden;
  /* -ms-overflow-style: none; */
  /* 인터넷 익스플로러 */
  /* scrollbar-width: none; */
  /* 파이어폭스 */
}

.inner_block::-webkit-scrollbar {
  /* display: none; */
  width: 8px;
}
.inner_block::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #818181; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

.inner_block::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.topten{
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  padding: 10px;
  overflow: scroll;
}
.topten::-webkit-scrollbar{
  display:initial;
}
.topten_card{
  width: 250px;
  height: 250px;
}
.topten_card::before{
  content: attr('rank');
}
.topten_card_image{
  width: 250px;
  height: 250px;
}

.pop_card_image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.pop_card_image:hover {
  transform: scale(1.1);
}


/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.tooltip .tooltip-content {
  visibility: hidden;
  /* width: 250px; */
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 5px;
  /* margin-top: 10px; */
  color: #737373;
  text-align: center;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
}

.tooltip .tooltip-content {
  bottom: 110%;
  left: 50%;
}

.block_subtitle {
  font-size: 20px;
}
.main_login_signup_btn{
  display: flex;
  justify-content: center;
}
.main_login_signup {
  font-size: 18px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  border: 1px solid #c9938e;
  padding: 10px 20px;
  border-radius: 13px;
  background-color: #c9938e;
  transition: 0.2s ease-in-out;
}

.main_login_signup:hover {
  color: black;
}

.index_footer {
  bottom: -640px;
}

@media (max-width:1505px) {
  .character_section {
    width: 70%;
  }
}

@media (max-width:1157px) {
  .index_contents_box {
    width: 100%;
  }

  .mbti_section {
    margin-right: 10px;
    padding: 10px;
  }

  .tooltip .tooltip-content {
    left: -240px;
  }
}

@media (max-width:915px) {
  .mbti_section {
    width: 190px;
    height: 470px;
  }

  .mbti_section {
    height: 390px;
  }

  .mbti_section_title {
    font-size: 20px;
  }

  .nav-button {
    width: 80px;
    height: 40px;
    padding: 10px 0;
    margin-bottom: 1px;
    margin-right: 1px;
  }

  .block_title {
    font-size: 23px;
    margin-bottom: 8px;
  }

}

@media (max-width:750px) {
  .mbti_section {
    padding: 10px 0;
    height: 715px;
    width: 120px;
  }

  .mbti_section_title {
    font-size: 18px;
  }

  .nav-button {
    padding: 12px 0;
    font-size: 16px;
  }

  .block_title {
    font-size: 22px;
  }
  .block_subtitle{
    font-size: 18px;
    text-align: center;
  }

  .main_box {
    padding: 10px
  }

}

@media (max-width:500px) {
  .nav_item_box:last-child {
    display: none;
  }

  .mobile_nav_item_box {
    display: block;
    background: #fff;
    top: 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    height: 56px;
    z-index: 22;
  }

  .mobile_nav_item_right {
    display: flex;
    justify-content: space-between;

  }

  .mobile_nav_items {
    display: flex;
    display: flex;
    padding: 0px 15px;
  }

  .mobile_nav_link {
    color: #767676;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    height: 56px;
    align-items: center;
    display: flex;
  }

}

/* mobile */
@media (max-width:500px) {

  .index_contents_box {
    flex-direction: column;
    align-items: center;
  }

  .mbti_section {
    width: 95%;
    height: 60px;
    margin: 0;
    padding: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .mbti_section_title {
    margin: 0 10px;
  }

  .mbti_nav_box {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    overflow: scroll;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
    margin: 0;
  }
  .main_login_signup{
    font-size:15px;
    padding: 7px 11px;
    }
  .mbti_nav_box::-webkit-scrollbar {
    display: none;
  }

  .nav-button {
    padding: 7px 5px;
    width: 60px;
    height: 36px;
  }

  .character_section {
    width: 95%;
  }
  .index_footer {
    bottom: -710px;
  }
}