/* Nav bar style */
.nav_box{
    width:90%;
    height:10vh;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw;
    background-color: transparent;
    z-index: 2;
    position: relative;
}
.nav_box_logo{
    color:#d22f27;
    font-weight: 900;
    font-size: 32px;
}
.nav_box_login:hover{
    color:#383838;
}
.nav_box_logo:hover{
    color:#d22f27;
}
.nav_box_login{
    color:#383838;
}

/* start test 페이지 style */
.main_container{
    position:absolute;
    top:10vh;
    width:100%;
    height:82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.contents_container{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    flex-grow:1;
    margin-bottom:10vh;
}
.main_header{
    max-width:70%;
}
.main_header_h1{
    font-size: 50px;
    text-align: center;
}


/* Test 페이지 style */
.wrap{
    position:absolute;
    top:22vh;
    width:60%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:10vh;
}

.left_header{
    width: 40%;
}
.test_question {
    color: rgb(217, 72, 64);
    margin-bottom: 3vh;
    font-size: 2rem;
    font-weight: 900;
  }
.test_question_subtitle {
    margin-bottom: 3vh;
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    line-height: 40px;
    
}
.test_question_example{
    font-size:22px;
}
.mbti_flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.mbti_p{
    margin-bottom: 10px;
}
.mbtitest{
    background-color: #c9938e;
    width: 200px;
}
.contents{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top:80px;
    /* align-items: center; */
}
.movie_contents{
    height: 100%;
    overflow: scroll;
}
.quiz_form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.movie_box2{
    margin: 15px -2% 15px -1%;
}

.movie_button{
    background-color: #e5e5e5;
    padding: 12px 74px;
    font-size: 16px;
    border-radius: 4px;
}

.fixed_button{
    background: linear-gradient(0deg,#fff 80%,hsla(0,0%,100%,0));
    bottom: 0;
    left: 0;
    padding: 24px 22%;
    position: fixed;
    width: 100%;
    z-index: 21;
    border-radius: 4px;
}

.mbti_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-top: 0;
    top: 15vh;
    position: absolute;
    padding-bottom: 10vh;
}
.mbti_header_box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.mbti_header_title{
    color: rgb(217, 72, 64);
    font-size: 3rem;
    font-weight: 900;
}
.mbti_header_subtitle{
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
}
.mbti_contents{
    width: 100%;
}
.character{
    display:grid; 
    grid-template-columns: 1fr 2fr; 
    background-color: #222020; 
    color:#ffffff; 
    border-radius:1rem; 
    align-items: center; 
    flex-wrap: wrap;
}
.result_character_info{
    padding-right:4%; 
    padding-left:1%;
}

@media (max-width:1410px){
    .mbti_wrap{
        width: 90%;
    }
    .wrap{
        width:80%;
    }
    .button_box {
        width: 20vw;
    }
    .cards_box_container{
        width:95%;
    }
}
@media (max-width: 1200px) {
    .button_box{
        width:23vw;
    }
}

/* 세로로 배치 */
@media (max-width:954px) {
    .mbti_wrap{
        width: 95%;
    }
    .wrap{
      flex-direction: column;
      align-items: center;
    }
    .left_header{
      width:100%;
      margin-right: 0;
    }
    #movie_contents{
      width:100%;
    }
    .contents{
        width:100%;
    }
    .button_box {
        width: 25vw;
      }
  }

@media (max-width: 860px){
    .main_header{
        max-width:100%;
    }
    .main_header_h1{
        font-size:30px
    }
    .img_box{
        width:90vw;
    }
    .contents{
        width:100%;
        
    }
    .left_header{
        width: 100%;
    }
    .button_box {
        width: 32vw;
      }
    .engram_box{
        width:88%;
    }
    .quiz_form {
        width: 80vw;
      }
}

/* 모바일 */
@media (max-width: 600px){
    .result_character_info{
        margin-top: 25px;
        padding: 0 20px;
    }
    .main_container{
        top: 20vh;
    }
    .wrap{
        top: 37vh;
        width:85%;
    }
    .button_box{
        width:35vw;
    }
    .button{
        font-size: 1.1rem;
    }
}
@media (max-width:622px) {
      
    .contents_result{
        width:90%;
        background-color: white;
        padding:0;
    }
    .cards_box_container{
        width: 90%;
        margin-top:10px;
    }
    .cards_box{
        /* grid-template-columns: 1fr; */
        justify-items: stretch;
    }
    .cards_category{
        /* background: none; */
        width: auto;
        height:100%;
        border-radius: 0;
        padding:20px;
        /* margin: 25px 0 6px 0; */
    }
    .cards_category_text{
        text-align: center;
        font-weight: 600;
        font-size: 25px;
    }
    .character_card{
        width: auto;
        height:auto;
        border-radius: 0;
        border: 1px solid #a4a4a4;
    }
    .card_image{
        width:100%;
        height: auto;
        transform:none;
        border-radius: 0;
    }
    .card_body{
        display: inherit;
        color:#383838;
        position: inherit;
        z-index: 0;
        height: auto;
    }
    .character_card:hover .card_image{
        transform: none;
        /* transition: 1s; */
      }
    .character_card:hover .card_body{
    color:#383838;
    display: inherit;
    }
    .character_card:after{
    content: none;
    }
    .card_title{
        font-size:100%;
        margin-bottom: 5px;
    }
    .card_info{
        padding: 0 10px;
    }
    
    .card_info_item{
        height: auto;
        font-size:inherit
    }
    .card_info_item_tag{
        font-size:80%;
        color:#767676;
    }
    .card_info_text{
        font-size:12px;
    }
    .card_info_text_box{
        margin: 5px 33px 0px 30px;
    }
    #progress{
        width: 90%;
        height: 10px;
        margin-left:5%;
    }
}
@media (max-width:514px) {
    .card_info_items_box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

    }
}

@media (max-width:415px){
    .mbti_wrap{
        top: 20vh;
    }
    .wrap{
      top: 32vh;
      width: 90%;
    }
    .mbti_flex{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .mbti_p{
        margin: 0;
    }
    
    .test_question, .test_question_subtitle{
        font-size: 23px;
        margin-bottom: 15px;
        line-height: 32px;
    }
    .test_question_example{
        font-size: 19px;
    }
    .contents{
        margin-top: 40px;
        align-items: center;
    }
    .button_box{
        width: auto;
        gap:15px 5px;
    }
    .mbti_bar{
        margin: 0 10px;
    }
    .button{
        width: 50vw;
        font-size: 18px;
        padding: 10px;
    }
    .mbtitest{
        width: 40vw;
    }
    .mbti_button{
        width: 71px;
    }
    .engram_button{
        width: 100%;
    }
    .engram_box_3{
        width: 90vw;
    }
    .engram_box_3 button{
        padding: 20px;
        width: 100%;
        line-height: 28px;
    }
    .fixed_button{
        padding: 24px 20%;
    }
    .movie_button{
        padding: 12px 60px;
    }

  }