.contents_result_movie{
    width: 80%;
    /* margin-top: 80px; */
    padding: 0 30px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.character_box {
    width: 80%;
    margin-top: 2vh;
  }

.character_image {
    border-radius: 1rem;
    width: 300px;
    /* height: fit-content; */
}

/* 캐릭터 상세페이지 */
.character {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5vh;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.3);
    padding: 25px;
   
  }
  
.character_body_info {
    border-radius: 1rem;
    width: 70%;
    margin-left:25px;
   
}
.fullText{
    position: relative;
}

.character_title {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    font-weight: 600;
}
.character_info_tag{
    font-size: 16px;
    color: #a6a6a6;
    margin-bottom: 10px;
}
/* .character_description_container{
    overflow:hidden;
    height:fit-content;
} */
.character_info {
    line-height: 27px;
    font-size: 17px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
}

.character_button {
    width: 180px;
    background-color: rgb(61, 121, 202);
    align-self: center;
    font-size: 1rem;
    padding: 0.8rem;
}
  
.character_button:hover {
    background-color: rgb(0, 110, 255);
}
.character_container {
    display: flex;
    flex-direction: column;
}
.plus_box{
    position:relative;
}
.plus_button{
    position: absolute;
    right: 0;
    color: #7b1a21;
    text-align: right;
    font-weight: 500;
}
.plus_button:hover{
    color:#a6a6a6;
}

.like_box{
    position: absolute;
    top: 34px;
    right: 0;
}

.like_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 90px;
    padding: 8px;
    border-radius: 1rem;
    background-color: rgb(42, 41, 39);
    color: white;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.like_box i{
    color: #e50914;
    font-size: 20px;
}
.like_button:hover{
    opacity: 0.9;
}
.like_button:active{
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.15), 
            inset 0px 4px 8px rgba(0,0,0,0.15), 
            inset 0px 8px 16px rgba(0,0,0,0.15);
}

  /* 영화 */
.movie{
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 30%);
    padding: 20px;
    margin-bottom:5vh;
}
.movie_image{
    width: 150px;
}
.movie_title{
    font-size: 1.4rem;
    margin-bottom: 2vh;
    font-weight: 600;
}
.movie_info_box{
    width: 60%;
    margin:0 17px;
}
.movie_info{
    line-height: 27px;
    font-size: 17px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}
.back_button {
    margin: 5vh 0;
    padding: 0.8rem;
    width: 180px;
    background-color: rgb(159, 56, 43);
    align-self: center;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
}

/* 감상 가능 링크 */
.link_box {
    /* box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.3); */
    border-left:1px solid #e1e1e1;
    border-radius: 5px;
    padding-left:10px;
    width: 18%;
    display: flex;
    flex-direction: column; 
}

.link_box_title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.link_box_link{
    margin-bottom: 5px;
}
.link_link {
    display: flex;
    align-items: center;
}
.link_logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.link_box_info {
    width: 100%;
    height: 60px;
    margin-left: 15px;
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link_box_name {
    padding-left: 5px;
}

.other{
    display: grid;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 30%);
    padding: 20px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow: scroll;
    gap:5px;
}
.other {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.other::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* 반응형 */
@media (max-width:1610px) {
    .character_box{
        width:100%;
    }
    .character{
        justify-content: center;
    }
}
@media (max-width:1300px) {
    .character_image{
        width: 250px;
    }
    .link_box{
        width:20%;
    }
    .link_logo{
        width:50px;
        height:50px;
    }
    .character_info{
        -webkit-line-clamp: 9;
    }
    .movie_info{
        -webkit-line-clamp: 5;
    }
}
@media (max-width:1150px){
    .character_image{
        width: 230px;
    }
    .character_info{
        -webkit-line-clamp: 8;
    }
    .link_box{
        width:26%;
    }
    .link_box_info{
        margin-left:7px;
    }
    .link_box_info{
        height:50px;
    }
    .other{
        grid-template-columns:170px;
    }
    .others_image{
        width:170px;
        height:170px;
    }
    .others_card{
        width:170px;
        height:170px;
    }
    .card_body{
        font-size: 18px;
    }
    .card_info_text_box{
        margin:5px 5px 2px 5px;
    }
}

@media (max-width:954px) {
    .contents_result_movie{
        width:90%;
    }
    .character_image {
        width: 230px;
    }
    
    .link_logo{
        width: 40px;
        height: 40px;
    }
    .movie_info{
        -webkit-line-clamp: 4;
    }
    .movie_title{
        font-size: 22px;
    }
    .movie_info_box{
        margin:0 10px;
    }
}

@media (max-width:800px) {
    .character_box{
        /* padding:0; */

    }
    .character{
        border-top: 1px solid rgb(0 0 0 / 30%);
        border-bottom: 1px solid rgb(0 0 0 / 30%);
        padding:20px 0px;
        box-shadow: none;
    }
    .movie{
        border-top: 1px solid rgb(0 0 0 / 30%);
        border-bottom: 1px solid rgb(0 0 0 / 30%);
        padding:16px 0px;
        box-shadow: none;
    }
    .other{
        border-top: 1px solid rgb(0 0 0 / 30%);
        border-bottom: 1px solid rgb(0 0 0 / 30%);
        padding:15px 0px;
        box-shadow: none;
    }
    .character_body_info{
        margin-left:15px;
    }
    .movie_image{
        width:135px;
    }
    .movie_title{
        font-size: 20px;
    }
    .movie_info_box{
        margin: 0 5px;
    }
    .movie_info{
        font-size:16px;
    }
    .link_logo{
        width: 35px;
        height: 35px;
    }
    .link_box_info {
        margin-left: 3px;
    }
    .link_box_name{
        font-size: 15px;
    }
    .link_box_title{
        font-size:18px;
    }
}
@media (max-width:650px) {
    .contents_result_movie{
        padding: 0 15px;
    }
    .character, .movie{
        flex-direction: column;
        align-items: center;
        border: none;
        box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 30%);
    }
    .character_body_info, .movie_info_box{
        width:90%;
        margin: auto;
    }
    .character_image{
        width: 300px;
        margin-bottom: 15px;
    }
    .movie_image{
        width: 200px;
        margin-bottom: 15px;
    }
    .link_box{
        width: 90%;
        margin-top: 20px;
        border-left: none;
        border-top: 1px solid #e1e1e1;
        padding-top: 10px;
    }

    .link_logo{
        width: 55px;
        height: 55px;
    }
    .link_box_info{
        margin-left: 10px;
    }
    .other{
        border: none;
        box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 30%);
    }
    .button_group{
        flex-direction: column;
    }
    .feedback_box{
        margin-bottom: 10px;
    }
    .retest_button{
        margin: 10px 0;
    }
}