/* 전체 테스트 css */

.button_box {
  width: 18vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, minmax(5vh, auto));
  grid-auto-flow: column;
  gap: 20px 10px;
}

.grid_full {
  grid-column: 1 / 3;
  text-align: center;
  color: rgb(201, 147, 142);
  font-size: 2rem;
}

.mbti_bar {
  width: 1.2px;
  height: 38vh;
  background-color: rgb(156, 156, 156);
  border-radius: 50%;
  margin: 0 20px;
}

.mbti_button {
  width: auto;
  background-color: rgb(201, 147, 142);
  font-size: 24px;

}

.mbti_button:hover {
  background-color: #c72003;
}

.engram_button {
  width: auto;
  background-color: rgb(201, 147, 142);
  font-size: 24px;
}

.engram_box {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(5vh, auto));
  gap: 20px 10px;
}

.engram_box_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.engram_box_3 button {
  margin-bottom: 20px;
  line-height: 35px;
  padding: 2rem;
  width: 100%;
}

.span_text {
  display: inline;
  font-weight: 900;
}

/* 영화 선택 페이지 */
#movie_contents {
  padding-left: 20px;
}

.movie_box {
  width: 100%;
}

.movie_box2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: row dense;
}

.center_button {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.movie_card {
  display: none;
}

.movie_card+label {
  cursor: pointer;
  width: 120px;
  height: 160px;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 7px 7px 15px rgb(0, 0, 0, 0.7);
  transition: all 50ms ease-in-out;
  position: relative;
}

.movie_card+label:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.movie_card+label:after {
  content: '🤍';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 67px;
  padding-left: 47px;
  font-size: 26px;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.movie_card:checked+label:after {
  display: block;
}

/* test 프로그레스바 */
.progressbar {
  display: flex;
  align-items: center;
  margin-top: 7vh;
  height: fit-content;
}

#left {
  color: #cccccc;
  font-size: 22px;
  padding: 25px;
  z-index: 10;
}

.progressbar_left {
  width: 50px;
  height: 50px;
  background-color: #d94840;
  ;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar_left:hover {
  background-color: #000000;
  cursor: pointer;
}

.progressbar_left:hover #left {
  cursor: pointer;
  color: white;
}

.progress_container {
  width: 500px;
  height: 25px;
  border-radius: 1rem;
  overflow: hidden;
  background: #ccc;
  position: relative;
  margin-left: 10px;
}

.progress_container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 0;
  background: #d94840;
  ;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.test_progress_bar {
  position: absolute;
  top: 4px;
  right: 5px;
  z-index: 99;
}

.progress1::after {
  animation-name: progress1;
}

.progress2::after {
  animation-name: progress2;
}

.progress3::after {
  animation-name: progress3;
}

.progress4::after {
  animation-name: progress4;
}

.progress5::after {
  animation-name: progress5;
}

@keyframes progress1 {
  0% {
    width: 0px
  }

  100% {
    width: 20%;
  }
}

@keyframes progress2 {
  0% {
    width: 20%
  }

  100% {
    width: 40%;
  }
}

@keyframes progress3 {
  0% {
    width: 40%
  }

  100% {
    width: 60%;
  }
}

@keyframes progress4 {
  0% {
    width: 60%
  }

  100% {
    width: 80%;
  }
}

@keyframes progress5 {
  0% {
    width: 80%
  }

  100% {
    width: 100%;
  }
}

/* .test_progress_bar::after{
  content: '0%';
} */

@media (max-width:1447px) {
  #movie_contents {
    width: 70%;
  }
}

@media (max-width:1131px) {
  #movie_contents {
    padding: 0 25px;
    width: 72%;
  }
}

@media (max-width: 860px) {

  .engram_box_3 {
    width: 80vw;
  }

  .engram_box_3 button {
    width: 75vw;
  }
}
@media (max-width:622px) {
  .progress_container{
    width: 350px;
  }
}

@media (max-width:415px) {
  .progress_container {
    width: 200px;
  }

  .progressbar_left {
    width: 40px;
    height: 40px;
  }

  .progressbar {
    margin-top: 5vh;
  }
}