/* 전체 테스트 css */
/* .test_question {
  color: rgb(217, 72, 64);
  margin-bottom: 3vh;
  font-size: 2rem;
  font-weight: 900;
}

.test_question_subtitle {
  margin-bottom: 3vh;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
} */

/* 테스트 form */
/* .quiz_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
} */

.button_box {
  width: 18vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, minmax(5vh, auto));
  grid-auto-flow: column;
  gap: 20px 10px;
}

.grid_full {
  grid-column: 1 / 3;
  text-align: center;
  color: rgb(201, 147, 142);
  font-size: 2rem;
}

.mbti_bar {
  width: 1.2px;
  height: 38vh;
  background-color: rgb(156, 156, 156);
  border-radius: 50%;
  margin: 0 20px;
}

.mbti_button {
  width: auto;
  background-color: rgb(201, 147, 142);
  font-size: 24px;
    
}

.mbti_button:hover {
  background-color: #c72003;
}

.engram_box {
  width: 26vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(5vh, auto));
  gap: 20px 10px;
}

.engram_box_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
}

.engram_box_3 button {
  margin-bottom: 20px;
  line-height: 1.7rem;
  padding: 2rem;
  width: 700px;
}

.span_text {
  display: inline;
  font-weight: 900;
}

.test_question_example {
  /* margin-top: -1vh; */
  /* margin-bottom: 5vh; */
  
}

/* 영화 선택 페이지 */
.movie_box {
  width: 100%;
}
.movie_box2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px 10px;
  justify-content: center;
  grid-auto-flow: row dense;
}

.center_button {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  width: 120px;
  height: 160px;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 7px 7px 15px rgb(0, 0, 0, 0.7);
  transition: all 50ms ease-in-out;
}

input[type="checkbox"]:checked + label {
  box-shadow: 0px 0px 17px rgb(219, 76, 119);
  border-radius: 1rem;
  position: relative;
  top: 6px;
}

/* 반응형 */
@media (max-width: 1300px) {
  /* .quiz_form {
    width: 70vw;
  } */

  .button_box {
    width: 20vw;
  }

  .engram_box {
    width: 40vw;
  }

  .engram_box_3 {
    width: 50vw;
  }
}

@media (max-width: 860px) {
  .quiz_form {
    width: 80vw;
  }

  .button_box {
    width: 35vw;
  }

  .engram_box {
    width: 64vw;
  }

  .engram_box_3 {
    width: 80vw;
  }
  .engram_box_3 button {
    width: 75vw;
  }
}

@media (max-width: 800px) {
  .movie_box2 {
    grid-template-rows: repeat(
      auto-fit,
      minmax(264px, 1fr)
    ); /* last row will be 1fr */
  }

  .center_button {
    grid-row: -1; /* it will be the last row */
  }
}
