body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 92vh;
  position: relative;
  padding-bottom: 8vh;
}
.header {
  text-align: center;
  padding-top: 10vh;
}
.header_title {
  color: #d72e04;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_box {
  width: 80vw;
  display: flex;
  justify-content: center;
  background-color: #c72003;
  border-radius: 1rem;
}
.button {
  margin-top: 10vh;
  background-color: #c72003;
  color: white;
  width: 30vw;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 150ms ease-in-out;
  box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}
.button:hover {
  background-color: rgba(199, 32, 3, 0.8);
  /* background-color: #923838; */
}
.button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
footer {
  position: fixed;
  width: 100vw;
  height: 8vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
}
