.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    text-align: center;
    margin: 10vh 0;
}
.header_title{
    color:#D72E04; 
}
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_box{
    width:80vw;
    display: flex;
    justify-content: center;
    background-color: #C72003;
    border-radius: 1rem;
}
.button{
    margin-top:10vh;
    background-color: rgb(246, 54, 54);
    color:white;
    width: 30vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 40px 40px #C72003 inset, 0 0 0 0 #C72003;
    text-align: center;
    transition: all 150ms ease-in-out;
}
.button:hover{
    box-shadow: 0 0 10px 0 #C72003 inset, 0 0 10px 4px #C72003;
    color:black;
    cursor: pointer;
}
.button:active{
    top:1px;
    box-shadow: none;
}